@use 'variables.scss' as v;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

#festival,
#lineup,
#gallery {
  scroll-margin-top: 70px;
}