// Colors
$white: #ffffff;
$black: #000000;
$dark-violet: #1f1f42;
$dark-violet2: #15152b;
$light-violet: #9894B2;
$dark-yellow: #866632;
$light-yellow: #ffc164;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;