@use 'variables.scss' as v;

.festival {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 4rem 0;
}

.festival-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin: 10px 0;
  }

  .date {
    color: v.$dark-yellow;
    font-weight: 700;
  }
}