@use 'variables.scss' as v;

.gallery {
  padding: 50px 0;

  h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;

  img {
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);

  img {
    display: block;
    width: 70%;
  }
}