@use 'variables.scss' as v;

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Montserrat-Regular.ttf'), url('/fonts/Montserrat-SemiBold.ttf');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  &.fixed {
    overflow: hidden;
  }

  &.body-scroll {
    padding-top: 85px;
  }
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}