@use 'variables.scss' as v;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: v.$dark-violet;

  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0rem 0.1rem 0.3rem #000;
  }

  h1 {
    color: v.$white;
    text-align: center;
    margin: 0;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  a {
    text-align: center;
    color: v.$white;
    transition: color 0.5s ease;

    &:hover {
      color: v.$light-yellow;
    }
  }
}