@use 'variables.scss' as v;

.lineup {
  background-color: v.$dark-violet;
  padding: 50px 0;

  h3 {
    font-size: 2rem;
  }

  h3,
  p {
    text-align: center;
    color: v.$white;
  }

  .day {
    text-transform: uppercase;
    margin: 50px 0;
  }
}

.stage-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  .stage {
    padding-top: 2rem;
    border-radius: 5px;
    box-shadow: 0rem 0.1rem 0.2rem #555555;

    img {
      margin: 2rem auto 2rem;
      margin: 20px auto 20px;
      width: 150px;
      display: block;
    }
  }

  p {
    color: v.$black;
  }
}

.calendar {
  li {
    padding: 25px;
    font-weight: 700;

    span {
      font-weight: 400;
    }
  }
}

.background-blue {
  background-color: v.$light-violet;

  li:nth-child(odd) {
    background-color: #8f8bac;
  }
}

.background-yellow {
  background-color: v.$light-yellow;

  li:nth-child(odd) {
    background-color: #ffbb55;
  }
}