@media only screen and (width <=992px) {
  .container {
    width: 90%;
  }

  .festival {
    grid-template-columns: auto;
  }

  .gallery-images {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (width <=576px) {
  .container {
    width: 90%;
  }

  .header {
    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: 2rem;
    }

    &.fixed {
      position: absolute;
    }
  }

  .nav {
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero-shadow {
    h2 {
      font-size: 2rem;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
      padding: 10px 15px;
    }
  }

  .stage-grid {
    grid-template-columns: auto;
  }

  .gallery-images {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .overlay img {
    width: 100%;
  }

  .tickets {
    .tickets-grid {
      grid-template-columns: auto;
      gap: 2rem;
    }
  }

  .footer {
    p {
      font-size: 1.2rem;
    }
  }
}