@use 'variables.scss' as v;

.tickets {
  padding: 5rem 0;
  background-color: v.$dark-violet;

  h3 {
    text-align: center;
    color: v.$white;
    margin-bottom: 2rem;
  }

  .tickets-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

.pass {
  color: black;

  .pass-name {
    text-align: center;
    font-size: 2.8rem;
    color: v.$white;
  }

  &-header,
  &-footer {
    padding: 0.5rem;

    p {
      text-align: center;
      color: v.$white;
      margin: 0;
    }
  }

  &-header {
    background-color: v.$dark-yellow;

    p {
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }

  &-body {
    background-color: v.$white;

    ul {

      li,
      :nth-child(odd) {
        background-color: v.$white;
        padding: 1.3rem;
        border-bottom: 1px solid #e1e1e1;
        text-align: center;
      }
    }
  }

  &-footer {
    background-color: v.$dark-yellow;

    p {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}